<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/admin.css">
    <link href="https://fonts.googleapis.com/css2?family=Allura&family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">

    <title>Community Pantry</title>
  </head>
  <body>
     
     
     
    <nav class="fixed-top">
      <div class="container">
       <div class="logo">
            <h4>Community Pantry</h4>
        </div>
        <ul class="nav-links">
           <li class="">
               <a class="" href="" disabled>Adminastrator</a>
            </li>
           
        </ul>
        
    </div>
</nav>
    
    
    
    
    <div id="title">
        <h1>Adminastrator</h1>
    </div>
     
     
     
     
    <div class="container mt-5">

      <div class="title mb-4 ">
        <h3 class="display-4 mt-5 ">Delete a User</h3>
      </div>

         <form class="mt-5" action="/deleteuser" method="POST">
             <div class="input-group">
                   <input type="text" name="username" class="form-control" placeholder="Username" aria-label="username" aria-describedby="button-addon2">
                   <div class="input-group-append">
                     <button class="btn btn-outline-secondary" id="button-addon2">Delete This User</button>
                   </div>
             </div>
         </form>

        <br><br>


        <div class="title mb-4 ">
          <h3 class="display-4 mt-5 ">Delete a Recipe</h3>
        </div>
  
           <form class="mt-5" action="/deleteuser" method="POST">
               <div class="input-group mb-3">
                     <input type="text" name="recipe" class="form-control" placeholder="Recipe ID" aria-label="username" aria-describedby="button-addon2">
                     <div class="input-group-append">
                       <button class="btn btn-outline-secondary" id="button-addon2">Delete This Recipe</button>
                     </div>
               </div>
           </form>


           <br><br>

           <div class="title mb-4 ">
            <h3 class="display-4 mt-5 ">Set Top 10</h3>
          </div>


        
         
        
          <form class="mb-5" action="settop10" method="post">

                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1">1.</span>
                  <input name="first" type="text" class="form-control" placeholder="Current Dish ID in First position : <%= dishes[0] %> " aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3 ">
                  <span class="input-group-text" id="basic-addon1">2.</span>
                  <input name="second" type="text" class="form-control" placeholder="Current Dish ID in Second position : <%= dishes[1] %> " aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1">3.</span>
                  <input name="third" type="text" class="form-control" placeholder="Current Dish ID in Third position : <%= dishes[2] %> " aria-label="Username" aria-describedby="basic-addon1">
                </div>
          
                <div class="input-group mb-3 ">
                  <span class="input-group-text" id="basic-addon1">4.</span>
                  <input name="fourth" type="text" class="form-control" placeholder="Current Dish ID in Fourth position : <%= dishes[3] %> " aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1">5.</span>
                  <input name="fifth" type="text" class="form-control" placeholder="Current Dish ID in Fifth position : <%= dishes[4] %> " aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3 ">
                  <span class="input-group-text" id="basic-addon1">6.</span>
                  <input name="sixth" type="text" class="form-control" placeholder="Current Dish ID in Sixth position : <%= dishes[5] %> " aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3 ">
                  <span class="input-group-text" id="basic-addon1">7.</span>
                  <input name="seventh" type="text" class="form-control" placeholder="Current Dish ID in Seventh position : <%= dishes[6] %> " aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3 ">
                  <span class="input-group-text" id="basic-addon1">8.</span>
                  <input name="eighth" type="text" class="form-control" placeholder="Current Dish ID in Eighth position : <%= dishes[7] %> " aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1">9.</span>
                  <input name="ninth" type="text" class="form-control" placeholder="Current Dish ID in Ninth position : <%= dishes[8] %> " aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3 ">
                  <span class="input-group-text" id="basic-addon1">10.</span>
                  <input name="tenth" type="text" class="form-control" placeholder="Current Dish ID in Tenth position : <%= dishes[9] %> " aria-label="Username" aria-describedby="basic-addon1">
                </div>

                  <button class="btn btn-block btn-outline-dark">Submit</button>              
              </form>


              <div class="title mt-5 mb-4">
                <h3 class="display-4 mt-5 ">Create a Recipe</h3>
             </div>
             <form action="/createRecipe/tmpUser" method="POST" enctype="multipart/form-data">
               <div class="createform mb-4" style="margin: auto">
                 <div class="form-group">
                   <label for="name">Recipe name</label>
                   <input class="form-control" type="text" placeholder="Recipe Name" name="rName" required>
                 </div>
                 <div class="form-group">
                   <label for="name">Cuisine</label>
                   <input class="form-control" type="text" placeholder="Cusiine" name = "cuisine" required>
                 </div>
                 <div class="form-group">
                   <label for="name">Short description</label>
                   <textarea class="form-control" rows="5" name="snipbit" required></textarea>
                 </div>
                 <div class="form-group">
                   <label for="name">Ingredients (use commas to seperate values)</label>
                   <textarea class="form-control" rows="5" name="ingredients" required></textarea>
                 </div>
                 <div class="form-group">
                   <label for="name">Instructions</label>
                   <textarea class="form-control" rows="10" name="instructions" required></textarea>
                 </div>
                 <div class="keyWords py-4">
                   <label class="pb-2" for="name">Please select one or more keywords</label>
                   <div class="container row">
                     <% keyWords.forEach(key => { %> 
                       <div class="form-check col">
                         <input class="form-check-input" type="checkbox" name="<%= key %>" value="True" id="">
                         <label class="form-check-label" for="">
                             <%= key %> 
                         </label>
                       </div> 
                     <% }); %>
                   </div>
                 </div>
                 <div class="form-group">
                   <label for="exampleFormControlFile1">Recipe Image</label>
                   <input type="file" class="form-control-file" name="image" id="exampleFormControlFile1" required>
                 </div>
                 
                 <div class="form-group">
                   <button class="btn btn-outline-dark btn-block my-5">Add recipe</button>        
                 </div>
             </div>
             </form>












        </div>        
    </div> 
      
    <br><br>
          
          
    <br><br>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
    <script>
      window.addEventListener('scroll', function(){
          let nav = document.querySelector('nav');
          nav.classList.toggle('scroll-active', window.scrollY > 0);
          
      })  
    
  </script>
  
  </body>
</html>