<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="recipe.css">
    <link href="https://fonts.googleapis.com/css2?family=Allura&family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">

    <title>Community Pantry</title>
  </head>
  <body>
      
      <% var home = true;
          if(mainUser != user) 
            home = false;
      %>
      <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
          <div class="container">
                  <a class="navbar-brand" href="/">Community Pantry</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="/top10">Top 10</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/search"> Search</a>
                    </li>
                    <li class="nav-item">
                      <%if(home){ %>
                      <a class="nav-link active"><%= mainUser %> </a>
                      <% }else{ %>
                        <a class="nav-link active" href="/home"><%= mainUser %> </a>
                      <%}%>
                    </li>
                  </ul>
          </div>
    </nav>
      
      
    <div class="container mt-5 pt-5">
    
        <h1 class="display-1 my-5"><%= user %> </h1>
        <p class="my-5">potential profile picture or avatar</p>
        <p class="my-5">potential optional Bio</p>

        
        <h3 class="display-4 mt-5">Your Recipes</h3>
        <ul class="mb-5 my-5">
              
            <% userRecipes.forEach(recipe => { %>
              <li class="m-5">
                <a class="nav-link" href="/recipe/<%= recipe.id %> "><h4 class="my-5"><%= recipe.name %> </h4></a>
                  <div class="container m-5">
                       <h5>recipe Picture</h5>
                       <p><%= recipe.snipbit %> </p>
                  </div>
              </li>
            <% }); %> 
                
        </ul>

        <h3 class="display-4 mt-5">Saved Recipes</h3>
        <ul class="mb-5 my-5">
              
            <% likedRecipes.forEach(recipe => { %>
              <li class="m-5">
                <a class="nav-link" href="/recipe/<%= recipe.id %> "><h4 class="my-5"><%= recipe.name %> </h4></a>
                  <div class="container m-5">
                       <h5>recipe Picture</h5>
                       <p><%= recipe.snipbit %> </p>
                  </div>
              </li>
            <% }); %> 
                
        </ul>
      
            
            
        <h3 class="display-4 mt-5">Shopping list</h3>
        <ul class="m-5">
          <% shoppingList.forEach(ingredient => { %>
            <li><%= ingredient %> </li>
          <% }); %> 
       </ul>
    
    </div>
    <% if(home){ %>
    <h2 class="display-1 pt-5">Find A User</h1>
        <form class="form-inline pt-5 mb-5" action="/searchUser">
          <div class="col-6 form-group mb-2">
            <label for="inputPassword2" class="sr-only">Dish</label>
            <input type="text" class="col-12 form-control" id="inputPassword2" placeholder="enter someone's username" name="otherUser">
          </div>
          <button type="submit" class="btn btn-primary mb-2">Find a User</button>
        </form>
    

    <div class="container">
                 
      <center><h2 class="my-5 pt-5">Create a Recipe</h2></center>
      <form action="/createRecipe/tmpUser" method="POST" enctype="multipart/form-data">
        <div class="createform mb-4" style="margin: auto">
          <div class="form-group">
            <label for="name">Recipe name</label>
            <input class="form-control" type="text" placeholder="Recipe Name" name="rName">
          </div>
          <div class="form-group">
            <label for="name">Cuisine</label>
            <input class="form-control" type="text" placeholder="Cusiine" name = "cuisine">
          </div>
          <div class="form-group">
            <label for="name">Short description</label>
            <textarea class="form-control" rows="5" name="snipbit"></textarea>
          </div>
          <div class="form-group">
            <label for="name">Ingredients (use commas to seperate values)</label>
            <textarea class="form-control" rows="5" name="ingredients"></textarea>
          </div>
          <div class="form-group">
            <label for="name">Instructions</label>
            <textarea class="form-control" rows="10" name="instructions"></textarea>
          </div>
          <div class="keyWords py-4">
            <label class="pb-2" for="name">Please select one or more keywords</label>
            <div class="container row">
              <% keyWords.forEach(key => { %> 
                <div class="form-check col">
                  <input class="form-check-input" type="checkbox" name="<%= key %>" value="True" id="">
                  <label class="form-check-label" for="">
                      <%= key %> 
                  </label>
                </div> 
              <% }); %>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleFormControlFile1">Recipe Image</label>
            <input type="file" class="form-control-file" name="image" id="exampleFormControlFile1">
          </div>
          
          <div class="form-group">
            <button class="btn btn-outline-primary btn-block my-5">Add recipe</button>        
          </div>
      </div>
      </form>
      <br>
  </div>
    </form>
    <% } %>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
    
  </body>
</html>
