<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <link rel="stylesheet" href="/styles/recipe.css">
    <link href="https://fonts.googleapis.com/css2?family=Allura&family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">

    <title>Community Pantry</title>

    <% if(dishName.length >= 15){ %> 
          <style>
               @media (max-width: 500px){
                   #title h1{
                       font-family: 'Open Sans Condensed', sans-serif;
                       font-weight: 1000;
                        font-size: 50px;
                       text-shadow: 0px 0px 20px black;
                         text-align: center;
                        padding-top: 100px;
                       color: white;
                    }
                 }

               @media (max-width: 1600px){
                      #title h1{
                        font-family: 'Open Sans Condensed', sans-serif;
                        font-weight: 1000;
                         font-size: 100px;
                         text-shadow: 0px 0px 20px black;
                          text-align: center;
                          padding-top: 100px;
                        color: white;
              
                      }
                  }
            </style>
  <% }else{ %>

        <style>
             @media (max-width: 1000px){
                 #title h1{
                     font-family: 'Open Sans Condensed', sans-serif;
                     font-weight: 1000;
                        font-size: 100px;
                        text-shadow: 0px 0px 20px black;
                       text-align: center;
                           padding-top: 100px;
                       color: white;
                       
                  }
              }

       
        
    </style>

  <% } %> 
  </head>
  <body>
     
     
     <nav class="fixed-top">
           <div class="container">
            <div class="logo">
                 <h4>Community Pantry</h4>
             </div>
             <ul class="nav-links">
                 <li>
                     <a class="" href="/top10" disaled>Top 10</a>
                 </li>
                 <li class="">
                    <a class="" href="/search"> Search</a>
                 </li>
                <li class="">
                    <a class="" href="/home">Home</a>
                </li>
             </ul>
             
         </div>
     </nav>
    

    
    <div id="title">
        <h1><%= dishName %> </h1>
    </div>
     
     
     <div class="container">
        
        
        <div class="row my-5 details">
            <div class="left">
                <img src="/recipe_images/<%= id %>.jpg" onerror="this.src='/recipe_images/default_recipe.jpg'">
            </div>
            <div class="right">
               <div class="row">
                   <a href=""><img class="ml-3" src="/profile_images/<%= username %>.jpg" class="card-img" onerror="this.src='/profile_images/default_profile.jpg'"></a>
                   <a href="/user/<%= username %> "><h2 class="col"><%= username %> </h2></a>
               </div>
                <p><%= snipbit %></p>
                <div class="row">

                    <% if(user == username){ %>
                        <form class="col" action="" method="POST">
                            <button class="btn btn-outline-dark btn-block mt-2">Delete recipe</button>
                        </form>
                    <% }else{ %>

                        <% if(saved){ %>
                            <form class="col" action="/unsaveRecipe/<%= id %> " method="POST">
                                <button class="btn btn-outline-dark btn-block mt-2">Unsave recipe</button>
                            </form>
                          <% }else{ %>
                             <form class="col" action="/saveRecipe/<%= id %>" method="POST">
                                <button class="btn btn-outline-dark btn-block mt-2">Save recipe</button>
                              </form>
                          <% } %> 

                     <% } %> 

                     <form class="col" action="/saveIngredients/<%= id %>/<%= ingredientString%> " method="post">
                        <button class="btn btn-outline-dark btn-block mt-2">Add Ingredients to Shopping List</button>
                    </form>
          
                   
                </div>
                 
            </div>
        </div>
         
         <div class="row mt-5">
             
             <div class="left">
                <div class="sticky">
                 <h3 class=" mb-3">Ingredients</h3>
                 <div class="scroll">
                 <ul class="list-group list-group-flush">
                      
                      <% ingredients.forEach(ingredient => { %> 

                        <li class="list-group-item d-flex">
                          <%= ingredient %> 
                       </li>

                      <% }) %> 
                      
                </ul>
                </div>
                <form class="col ml-0 mt-4" action="/saveIngredients/<%= id %>/<%= ingredientString%> " method="post">
                  <button class="btn btn-outline-dark btn-block mt-2">Add Ingredients to Shopping List</button>
              </form>
             </div>
             </div>
             <div class="right">
                 <h3 class="">Instructions</h3>
                 <pre class="mt-4">
                  <%= instructions %>
                 </pre>
             </div>
             
         </div>
         
         
     </div>
     
     
     
     
     <div class="footer"></div>
     
    
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
    <script>
        window.addEventListener('scroll', function(){
            let nav = document.querySelector('nav');
            nav.classList.toggle('scroll-active', window.scrollY > 0);
            
        })  
      
    </script>
  </body>
</html>
