<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="/styles/search.css">
    <link href="https://fonts.googleapis.com/css2?family=Allura&family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">

    <title>Community Pantry</title>
  </head>
  <body>
     
     
    <nav class="fixed-top">
      <div class="container">
       <div class="logo">
            <h4>Community Pantry</h4>
        </div>
        <ul class="nav-links">
           <li class="">
               <a class="active" href="/search" onclick="return false;"> Search</a>
            </li>
            <li>
                <a class="" href="/top10">Top 10</a>
            </li>
           <li class="">
               <a class="" href="/home">Home</a>
           </li>
           <% if(user == undefined){ %> 
              <li class="">
                 <a id="login" class="" href="/login">Login</a>
              </li>
           <% }else{ %>
              <li class="">
                  <a id="login" class="" href="/logout">Logout</a>
              </li>
            <% } %> 
           
        </ul>
        
    </div>
</nav>
    
    
    
    <div id="title">
        <div class="basic-search">
            <div class="card-deck">
                <div class="card">

                    <div class="card-body">
                      <h5 class="card-title">Find a Dish</h5>
                      <p class="card-text mt-4">Already have a dish in mind? Let us know and we'll find you a recipe!</p>
                    
                      
                      <form action="/results/dish" method="get">
                          <div class="form">
                              <input type="text" name="dishName" required autocomplete="off"/>
                              <label for="" class="label-name">
                                  <span class="content-name">Dish</span>
                              </label>
                          </div>
                          <button class="btn btn-block btn-outline-dark mt-2">Search</button>
                      </form>
         
                    </div>
                </div>
                <div class="card">

                    <div class="card-body">
                      <h5 class="card-title">Explore a Cuisine</h5>
                      <p class="card-text mt-4">There's a whole world of flavors out there. If you're stuck at home, you can do some travelling right from your kitchen!</p>
                          
                      <form action="/results/cuisine" method="get">
                          <div class="form">
                              <input type="text" name="cuisine" required autocomplete="off"/>
                              <label for="" class="label-name">
                                  <span class="content-name">Explore</span>
                              </label>
                          </div>
                          <button class="btn btn-block btn-outline-dark mt-2">Search</button>
                      </form>
                          
                    </div>
              </div>
              <div class="card">

                    <div class="card-body">
                        <h5 class="card-title">Find a Cook</h5>
                        <p class="card-text mt-4">Want to find a friend? You can give us a partial or whole username and we'll try to connect you with the right person.</p>
      
                        <form action="/results/users" method="get">
                          <div class="form">
                              <input type="text" name="targetUser" required autocomplete="off"/>
                              <label for="" class="label-name">
                                  <span class="content-name">Username</span>
                              </label>
                          </div>
                          <button class="btn btn-block btn-outline-dark mt-2">Search</button>
                       
                      </form>
                    </div>
              </div>
            </div>
        </div>
    </div>
    <br>
    
    
    <div class="container">
        
        
        <form id="main" action="/results" method="GET" novalidate>
         
         <div class="sticky">
             <h3>Search by Ingredient</h3>
             <button class="btn btn-outline-dark">Search</button>
         </div>
         
          <div class="card my-5">
            <h2 class="card-title mb-0 h2-1">Proteins</h2>
            <div class="collapse" id="collapse-proteins">


              
                <p class="protein mt-3">General Proteins</p>
                <div id="keyProteinsList" class="container row my-3 list" id="keyProteins">
               
               
                <% keyProteins.forEach(protein => { %> 
                  <div class="item form-check col my-1">
                    <input class="form-check-input" type="checkbox" name="<%= protein %>" value="True" id="">
                    <label class="form-check-label" for="">
                        <%= protein %>  
                    </label>
                  </div> 
                <% }); %> 
            
              
            </div>
            <br>
            <p class="protein mb-4">Specific Cuts </p>

            <div class="filter mb-5 mt-4">
              <input id="proteinsFilter" type="text" name="" required/>
              <label for="" class="label-name">
                  <span class="content-name">Filter</span>
              </label>
            </div>

            <ul class="nav nav-tabs nav-justified" id="proteinTab" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link active" id="chicken-tab" data-toggle="tab" href="#chicken" role="tab" aria-controls="home" aria-selected="true">Chicken</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="beef-tab" data-toggle="tab" href="#beef" role="tab" aria-controls="profile" aria-selected="false">Beef</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="pork-tab" data-toggle="tab" href="#pork" role="tab" aria-controls="contact" aria-selected="false">Pork</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="lamb-tab" data-toggle="tab" href="#lamb" role="tab" aria-controls="contact" aria-selected="false">Lamb</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="fish-tab" data-toggle="tab" href="#fish" role="tab" aria-controls="contact" aria-selected="false">Fish</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="seafood-tab" data-toggle="tab" href="#seafood" role="tab" aria-controls="contact" aria-selected="false">Seafood</a>
              </li>
            </ul>

            
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="chicken" role="tabpanel" aria-labelledby="home-tab">
                <div id="chickenList" class="container row my-5 ml-3 list">
                   
            
                    <% chickens.forEach(chicken => { %> 
                      <div class="item form-check col-3 my-1">
                        <input class="form-check-input" type="checkbox" name="<%= chicken %>" value="True" id="">
                        <label class="form-check-label" for="">
                            <%= chicken %>  
                        </label>
                      </div> 
                    <% }); %> 
                    
                  
                </div>
              </div>
              <div class="tab-pane fade" id="beef" role="tabpanel" aria-labelledby="profile-tab">
                <div id="beefList" class="container row my-5 ml-3 list">
                   
                  <% beefs.forEach(beef => { %> 
                    <div class="item form-check col-3 my-1">
                      <input class="form-check-input" type="checkbox" name="<%= beef %>" value="True" id="">
                      <label class="form-check-label" for="">
                          <%= beef %>  
                      </label>
                    </div> 
                  <% }); %> 
                  
                </div>
              </div>
              <div class="tab-pane fade" id="pork" role="tabpanel" aria-labelledby="contact-tab">
                <div id="porkList" class="container row my-5 ml-3 list">
                   
                  <% porks.forEach(pork => { %> 
                    <div class="item form-check col-3 my-1">
                      <input class="form-check-input" type="checkbox" name="<%= pork %>" value="True" id="">
                      <label class="form-check-label" for="">
                          <%= pork %>  
                      </label>
                    </div> 
                  <% }); %> 
                  
                </div>
              </div>
              <div class="tab-pane fade" id="lamb" role="tabpanel" aria-labelledby="contact-tab">
                <div id="lambList" class="container row my-5 ml-3 list">
                   
                  <% lambs.forEach(lamb => { %> 
                    <div class="item form-check col-3 my-1">
                      <input class="form-check-input" type="checkbox" name="<%= lamb %>" value="True" id="">
                      <label class="form-check-label" for="">
                          <%= lamb %>  
                      </label>
                    </div> 
                  <% }); %> 
                  
                </div>
              </div>
              <div class="tab-pane fade" id="fish" role="tabpanel" aria-labelledby="contact-tab">
                <div id="fishList" class="container row my-5 ml-3 list">
                   
                  <% fishes.forEach(fish => { %> 
                    <div class="item form-check col-3 my-1">
                      <input class="form-check-input" type="checkbox" name="<%= fish %>" value="True" id="">
                      <label class="form-check-label" for="">
                          <%= fish %>  
                      </label>
                    </div> 
                  <% }); %> 
                  
                </div>
              </div>
              <div class="tab-pane fade" id="seafood" role="tabpanel" aria-labelledby="contact-tab">
                <div id="seafoodList" class="container row my-5 ml-3 list">
                   
                  <% seafoods.forEach(seafood => { %> 
                    <div class="item form-check col-3 my-1">
                      <input class="form-check-input" type="checkbox" name="<%= seafood %>" value="True" id="">
                      <label class="form-check-label" for="">
                          <%= seafood %>  
                      </label>
                    </div> 
                  <% }); %> 
                  
                </div>
              </div>
   
            
              </div>
            </div>
            <button type="button" class="view btn btn-dark btn-block border" data-toggle="collapse" data-target="#collapse-proteins">View</button>
          </div>
        
           
          <div class="card my-5">
            <h2 class="card-title mb-0 h2-2">Fruits &amp; Vegetables</h2>
            <div class="collapse" id="collapse-fruits">

              <div class="filter mb-5 mt-4">
                <input id="veggiesFilter" type="text" name="" required/>
                <label for="" class="label-name">
                    <span class="content-name">Filter</span>
                </label>
                
              </div>

            <ul class="nav nav-tabs nav-justified mt-3" id="fruitsVeggiesTab" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link active" id="Fruits-tab" data-toggle="tab" href="#fruits" role="tab" aria-controls="home" aria-selected="true">Fruits</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="veggies-tab" data-toggle="tab" href="#veggies" role="tab" aria-controls="profile" aria-selected="false">Vegetables</a>
              </li>
        
            </ul>
            <div class="container row mb-3">
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade active show" id="fruits" role="tabpanel" aria-labelledby="home-tab">
                  <div id="fruitsList" class="container row my-5 ml-3 list">
                     
                    <% fruits.forEach(fruit => { %> 
                      <div class="item form-check col-3 my-1">
                        <input class="form-check-input" type="checkbox" name="<%= fruit %>" value="True" id="">
                        <label class="form-check-label" for="">
                            <%= fruit %>  
                        </label>
                      </div> 
                    <% }); %> 
                    
    
                  </div>
                </div>
                <div class="tab-pane fade" id="veggies" role="tabpanel" aria-labelledby="profile-tab">
                  <div id="veggiesList" class="container row my-5 ml-3 list">
                     
                    <% veggies.forEach(veggie => { %> 
                      <div class="item form-check col-3 my-1">
                        <input class="form-check-input" type="checkbox" name="<%= veggie %>" value="True" id="">
                        <label class="form-check-label" for="">
                            <%= veggie %>  
                        </label>
                      </div> 
                    <% }); %> 
                    
                  </div>
                </div>
                
              </div>
              </div>
            </div>
            <button type="button" class="view btn btn-dark btn-block border" data-toggle="collapse" data-target="#collapse-fruits">View</button>
          </div>  
            
            
            
            <div class="card my-5">
              <h2 class="card-title mb-0 h2-3">Starches</h2>
              <div class="collapse" id="collapse-starches">

                <div class="filter mb-5 mt-4">
                  <input id="starchesFilter" type="text" name="" required/>
                  <label for="" class="label-name">
                      <span class="content-name">Filter</span>
                  </label>
                  
                </div>
                

              <div id="starchesList" class="container row my-5 list">
                 
                <% starches.forEach(starch => { %> 
                  <div class="item form-check col-3 my-1">
                    <input class="form-check-input" type="checkbox" name="<%= starch %>" value="True" id="">
                    <label class="form-check-label" for="">
                        <%= starch %>  
                    </label>
                  </div> 
                <% }); %> 

                </div>
              </div>
              <button type="button" class="view btn btn-dark btn-block border" data-toggle="collapse" data-target="#collapse-starches">View</button>
              </div>

            
            <div class="card my-5">
              <h2 class="card-title mb-0 h2-4">Herbs &amp; spices</h2>
              <div class="collapse" id="collapse-herbs">




                <div class="filter mb-5 mt-4">
                  <input id="herbsSpicesFilter" type="text" name="" required/>
                  <label for="" class="label-name">
                      <span class="content-name">Filter</span>
                  </label>
                  
                </div>

              <ul class="nav nav-tabs nav-justified mt-3" id="herbsSpicesTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" id="herbs-tab" data-toggle="tab" href="#herbs" role="tab" aria-controls="home" aria-selected="true">Herbs</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="spices-tab" data-toggle="tab" href="#spices" role="tab" aria-controls="profile" aria-selected="false">Spices</a>
                </li>
          
              </ul>



              <div class="container row mb-3">
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade active show" id="herbs" role="tabpanel" aria-labelledby="home-tab">
                    <div id="herbsList" class="container row my-5 ml-3 list">
                       
                      <% herbs.forEach(herb => { %> 
                        <div class="item form-check col-3 my-1">
                          <input class="form-check-input" type="checkbox" name="<%= herb %>" value="True" id="">
                          <label class="form-check-label" for="">
                              <%= herb %>  
                          </label>
                        </div> 
                      <% }); %> 
                      
      
                    </div>
                  </div>
                  <div class="tab-pane fade" id="spices" role="tabpanel" aria-labelledby="profile-tab">


            
                    <div id="spicesList" class="container row my-5 ml-3 list">
                       
                      <% spices.forEach(spice => { %> 
                        <div class="item form-check col-3 my-1">
                          <input class="form-check-input" type="checkbox" name="<%= spice %>" value="True" id="">
                          <label class="form-check-label" for="">
                              <%= spice %>  
                          </label>
                        </div> 
                      <% }); %> 
                      
                    
                    </div>
                  </div>
                  
                </div>
                </div>


              </div>
              <button type="button" class=" view btn btn-dark btn-block border" data-toggle="collapse" data-target="#collapse-herbs">View</button>
            </div>
            <div class="card my-5">
              <h2 class="card-title mb-0 h2-5">Condiments</h2>
              <div class="collapse" id="collapse-condiments">

                <div class="filter mb-5 mt-4">
                  <input id="condimentsFilter" type="text" name="" required/>
                  <label for="" class="label-name">
                      <span class="content-name">Filter</span>
                  </label>
                  
                </div>


              <div id="condimentsList" class="container row my-5 list">
                 
                <% condiments.forEach(condiment => { %> 
                  <div class="item form-check col-3 my-1">
                    <input class="form-check-input" type="checkbox" name="<%= condiment %>" value="True" id="">
                    <label class="form-check-label" for="">
                        <%= condiment %>  
                    </label>
                  </div> 
                <% }); %> 

                </div>
              </div>
              <button type="button" class="view btn btn-dark btn-block border" data-toggle="collapse" data-target="#collapse-condiments">View</button>
            </div>
        
        </form>

        
        
    </div>
    
    
    <br><br><br><br>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 900
        });
    </script>
    <script>
        window.addEventListener('scroll', function(){
            let nav = document.querySelector('nav');
            nav.classList.toggle('scroll-active', window.scrollY > 0);
            
        })  

        $('.view').click(function(){
          if(this.innerHTML == 'View'){
            this.innerHTML = 'Hide';
          }else{
            this.innerHTML = 'View';
          }
        })


        



        let proteinsFilter = document.getElementById('proteinsFilter');
        proteinsFilter.addEventListener('keyup', filterChickens);
        proteinsFilter.addEventListener('keyup', filterBeefs);
        proteinsFilter.addEventListener('keyup', filterPorks);
        proteinsFilter.addEventListener('keyup', filterLambs);
        proteinsFilter.addEventListener('keyup', filterFish);
        proteinsFilter.addEventListener('keyup', filterSeafood);

        

        function filterChickens(){

          let filterValue = document.getElementById('proteinsFilter').value.toLowerCase();
          let list = document.getElementById('chickenList');
          let items = list.querySelectorAll('.item');

          for(var i=0; i<items.length; i++){
            let label = items[i].getElementsByTagName('label')[0];

            if(label.innerHTML.toLowerCase().indexOf(filterValue) > -1){
                items[i].style.display = '';
            }else{
              items[i].style.display = 'none';
            }
          }

        }

        function filterBeefs(){

          let filterValue = document.getElementById('proteinsFilter').value.toLowerCase();
          let list = document.getElementById('beefList');
          let items = list.querySelectorAll('.item');

          for(var i=0; i<items.length; i++){
            let label = items[i].getElementsByTagName('label')[0];

            if(label.innerHTML.toLowerCase().indexOf(filterValue) > -1){
              items[i].style.display = '';
            }else{
               items[i].style.display = 'none';
            }
          }

        }

        function filterPorks(){

          let filterValue = document.getElementById('proteinsFilter').value.toLowerCase();
          let list = document.getElementById('porkList');
          let items = list.querySelectorAll('.item');

          for(var i=0; i<items.length; i++){
            let label = items[i].getElementsByTagName('label')[0];

            if(label.innerHTML.toLowerCase().indexOf(filterValue) > -1){
               items[i].style.display = '';
            }else{
               items[i].style.display = 'none';
            }
          }

        }

        function filterLambs(){

          let filterValue = document.getElementById('proteinsFilter').value.toLowerCase();
          let list = document.getElementById('lambList');
          let items = list.querySelectorAll('.item');

          for(var i=0; i<items.length; i++){
            let label = items[i].getElementsByTagName('label')[0];

            if(label.innerHTML.toLowerCase().indexOf(filterValue) > -1){
              items[i].style.display = '';
            }else{
              items[i].style.display = 'none';
            }
          }

        }

        function filterFish(){

          let filterValue = document.getElementById('proteinsFilter').value.toLowerCase();
          let list = document.getElementById('fishList');
          let items = list.querySelectorAll('.item');

          for(var i=0; i<items.length; i++){
            let label = items[i].getElementsByTagName('label')[0];

            if(label.innerHTML.toLowerCase().indexOf(filterValue) > -1){
              items[i].style.display = '';
            }else{
              items[i].style.display = 'none';
            }
          }

        }


        function filterSeafood(){

          let filterValue = document.getElementById('proteinsFilter').value.toLowerCase();
          let list = document.getElementById('seafoodList');
          let items = list.querySelectorAll('.item');

          for(var i=0; i<items.length; i++){
            let label = items[i].getElementsByTagName('label')[0];

            if(label.innerHTML.toLowerCase().indexOf(filterValue) > -1){
              items[i].style.display = '';
            }else{
              items[i].style.display = 'none';
            }
          }

        }












        let veggiesFilter = document.getElementById('veggiesFilter');
        veggiesFilter.addEventListener('keyup', filterVeggies);
        veggiesFilter.addEventListener('keyup', filterFruits);

        function filterVeggies(){

          let filterValue = document.getElementById('veggiesFilter').value.toLowerCase();
          let list = document.getElementById('veggiesList');
          let items = list.querySelectorAll('.item');

          for(var i=0; i<items.length; i++){
            let label = items[i].getElementsByTagName('label')[0];

            if(label.innerHTML.toLowerCase().indexOf(filterValue) > -1){
                items[i].style.display = '';
            }else{
              items[i].style.display = 'none';
            }
          }

        }

        function filterFruits(){

          let filterValue = document.getElementById('veggiesFilter').value.toLowerCase();
          let list = document.getElementById('fruitsList');
          let items = list.querySelectorAll('.item');


          for(var i=0; i<items.length; i++){
            let label = items[i].getElementsByTagName('label')[0];

            
            if(label.innerHTML.toLowerCase().indexOf(filterValue) > -1){
                items[i].style.display = '';
            }else{
                items[i].style.display = 'none';
              
            }
            
          }
          console.log(list);
        }





        let starchesFilter = document.getElementById('starchesFilter');
        starchesFilter.addEventListener('keyup', filterStarches);

        function filterStarches(){

          let filterValue = document.getElementById('starchesFilter').value.toLowerCase();
          let list = document.getElementById('starchesList');
          let items = list.querySelectorAll('.item');

          for(var i=0; i<items.length; i++){
            let label = items[i].getElementsByTagName('label')[0];

            if(label.innerHTML.toLowerCase().indexOf(filterValue) > -1){
                items[i].style.display = '';
            }else{
              items[i].style.display = 'none';
            }
          }

        }

        


        let herbsSpicesFilter = document.getElementById('herbsSpicesFilter');
        herbsSpicesFilter.addEventListener('keyup', filterHerbs);
        herbsSpicesFilter.addEventListener('keyup', filterSpices);

        function filterHerbs(){

          let filterValue = document.getElementById('herbsSpicesFilter').value.toLowerCase();
          let list = document.getElementById('herbsList');
          let items = list.querySelectorAll('.item');

          for(var i=0; i<items.length; i++){
            let label = items[i].getElementsByTagName('label')[0];

            if(label.innerHTML.toLowerCase().indexOf(filterValue) > -1){
                items[i].style.display = '';
            }else{
              items[i].style.display = 'none';
            }
          }

        }

        function filterSpices(){

          let filterValue = document.getElementById('herbsSpicesFilter').value.toLowerCase();
          let list = document.getElementById('spicesList');
          let items = list.querySelectorAll('.item');


          for(var i=0; i<items.length; i++){
            let label = items[i].getElementsByTagName('label')[0];

            
            if(label.innerHTML.toLowerCase().indexOf(filterValue) > -1){
                items[i].style.display = '';
            }else{
                items[i].style.display = 'none';
              
            }
            
          }
          console.log(list);
        }











        let condimentsFilter = document.getElementById('condimentsFilter');
        condimentsFilter.addEventListener('keyup', filterCondiments);

        function filterCondiments(){

          let filterValue = document.getElementById('condimentsFilter').value.toLowerCase();
          let list = document.getElementById('condimentsList');
          let items = list.querySelectorAll('.item');

          for(var i=0; i<items.length; i++){
            let label = items[i].getElementsByTagName('label')[0];

            if(label.innerHTML.toLowerCase().indexOf(filterValue) > -1){
                items[i].style.display = '';
            }else{
                items[i].style.display = 'none';
            }
          }

        }
       


        

      
    </script>
    
  </body>
</html>