<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="/styles/top10.css">
    <link href="https://fonts.googleapis.com/css2?family=Allura&family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">

    <title>Community Pantry</title>
  </head>
  <body>
     
     
     <nav class="fixed-top">
           <div class="container">
            <div class="logo">
                 <h4>Community Pantry</h4>
             </div>
             <ul class="nav-links">
                 <li>
                     <a class="active" href="/top10" disaled>Top 10</a>
                 </li>
                 <li class="">
                    <a class="" href="/search"> Search</a>
                 </li>
                <li class="">
                    <a class="" href="/home">Home</a>
                </li>
             </ul>
             
         </div>
     </nav>
    
    
    
    <div id="title">
        <h1>Top 10</h1>
    </div>
    
       
    <div class="container">
          
            <ul class="mt-5 pl-0">
               
                
                <% for(var i=0; i<dishes.length; i++) { %>

                  <a href="/recipe/<%= dishes[i].id %>">
                    <li class="my-5 row" data-aos="fade-up">
                      
                      <h2><%= i + 1 %></h2>
                       
                        <div class="card p-0" >
                         
                          <div class="row no-gutters">
                            <div class="col-md-4 test">
                              <img src="/recipe_images/<%= dishes[i].id %>.jpg" class="card-img" onerror="this.src='/recipe_images/default_recipe.jpg'">
                            </div>
                            <div class="col-md-8">
                              <div class="card-body">
                                <h5 class="card-title"><%= dishes[i].name %></h5>
                                <p class="card-text"><%= dishes[i].cuisine %></p>
                                <p class="card-texts snipbit"><%= dishes[i].snipbit %></p>
                                <div class="row mt-5 ml-1">
                                  <img class="mt-1 card-image" src="/profile_images/<%= dishes[i].username %>.jpg"  onerror="this.src='/profile_images/default_profile.jpg'">
                                    <p class="card-text ml-2 pt-2"><%= dishes[i].username %></p>
                                </div>
                                
                              </div>
                            </div>
                          </div>  
                        </div>
                        
                        
                        
                    </li>
                    </a>
              <% } %>
               
            </ul>
            <br><br>
      </div>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 900
        });
    </script>
    <script>
        window.addEventListener('scroll', function(){
            let nav = document.querySelector('nav');
            nav.classList.toggle('scroll-active', window.scrollY > 0);
            
        })  
      
    </script>
    
  </body>
</html>
